<h1>
  there is no such route
</h1>
<p>
  <br>
  <br>
  given url is : <%= @wrong.url%>
  <br>
  <br>
  this url is saved in database......
</p>
<br>
<br>

<%= link_to 'click here to see all invalid routes', list_path(format: "csv") %>
